USE [master]
GO
CREATE DATABASE [LESCANO_DB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LESCANO_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LESCANO_DB]
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 18/7/2019 20:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 18/7/2019 20:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APELLIDOS] [varchar](50) NOT NULL,
	[NOMBRES] [varchar](50) NOT NULL,
	[RAZONSOCIAL] [varchar](100) NOT NULL,
	[DNI] [varchar](15) NOT NULL,
	[CUIT] [varchar](20) NULL,
	[FECHNAC] [date] NULL,
	[IDDOMICILIO] [int] NULL,
	[IDUSUARIO] [int] NULL,
	[IDTIPOPERSONA] [int] NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMBOS]    Script Date: 18/7/2019 20:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMBOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](300) NULL,
	[DIASANTICIPO] [int] NOT NULL,
	[PRECIO] [decimal](8, 2) NULL,
	[ESTADO] [bit] NOT NULL,
	[RUTA] [varchar](100) NULL,
 CONSTRAINT [PK_Prod] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMERCIOS]    Script Date: 18/7/2019 20:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMERCIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CUIT] [varchar](20) NOT NULL,
	[NOMBREJURIDICO] [varchar](100) NOT NULL,
	[NOMBREFANTASIA] [varchar](100) NOT NULL,
	[INGRESOSBRUTOS] [varchar](15) NOT NULL,
	[FECHAINICIO] [datetime] NOT NULL,
	[IDDOMICILIO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRAS]    Script Date: 18/7/2019 20:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPROVEEDOR] [int] NOT NULL,
	[IMPORTE] [decimal](8, 2) NOT NULL,
	[FECHA] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOMICILIOS]    Script Date: 18/7/2019 20:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOMICILIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ALTURA] [int] NOT NULL,
	[CALLE] [varchar](100) NOT NULL,
	[IDCOORDENADAS] [int] NULL,
	[ENTRECALLE1] [varchar](100) NULL,
	[ENTRECALLE2] [varchar](100) NULL,
	[IDLOCALIDAD] [int] NULL,
	[PISO] [int] NULL,
	[DEPARTAMENTO] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 18/7/2019 20:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APELLIDOS] [varchar](50) NOT NULL,
	[NOMBRES] [varchar](50) NOT NULL,
	[DNI] [varchar](15) NOT NULL,
	[CUIL] [varchar](20) NOT NULL,
	[IDDOMICILIO] [int] NULL,
	[IDUSUARIO] [int] NULL,
	[IDTIPOEMPLEADO] [int] NOT NULL,
	[FECHNAC] [date] NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURAS]    Script Date: 18/7/2019 20:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NUMERO] [varchar](15) NOT NULL,
	[CUIT] [varchar](20) NOT NULL,
	[IDDOMICILIO] [int] NOT NULL,
	[FECHAINICIO] [datetime] NOT NULL,
	[FECHAACTUAL] [datetime] NOT NULL,
	[INGRESOSBRUTOS] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOCALIDADES]    Script Date: 18/7/2019 20:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCALIDADES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODPOSTAL] [varchar](10) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[PARTIDO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LOC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[CODPOSTAL] ASC,
	[NOMBRE] ASC,
	[PARTIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAILS]    Script Date: 18/7/2019 20:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAIL] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAILS_X_CLIENTES]    Script Date: 18/7/2019 20:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAILS_X_CLIENTES](
	[IDCLIENTE] [int] NOT NULL,
	[IDMAIL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCLIENTE] ASC,
	[IDMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAILS_X_EMPLEADOS]    Script Date: 18/7/2019 20:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAILS_X_EMPLEADOS](
	[IDEMPLEADO] [int] NOT NULL,
	[IDMAIL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEMPLEADO] ASC,
	[IDMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAILS_X_PROVEEDORES]    Script Date: 18/7/2019 20:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAILS_X_PROVEEDORES](
	[IDPROVEEDOR] [int] NOT NULL,
	[IDMAIL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPROVEEDOR] ASC,
	[IDMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCAS]    Script Date: 18/7/2019 20:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDOS]    Script Date: 18/7/2019 20:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDCLIENTE] [int] NOT NULL,
	[IDCOMBO] [int] NOT NULL,
	[OBSERVACION] [varchar](1024) NULL,
	[FECHAENTREGA] [date] NOT NULL,
	[PRECIO] [decimal](8, 2) NOT NULL,
	[ESTADO] [varchar](20) NOT NULL,
	[FECHASOLICITUD] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 18/7/2019 20:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDCATEGORIA] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[IDMARCA] [int] NOT NULL,
	[PRECIOUNITARIO] [money] NOT NULL,
	[STOCK] [decimal](8, 3) NOT NULL,
	[FRACCIONABLE] [bit] NOT NULL,
	[PESO] [decimal](8, 2) NOT NULL,
	[PORCENTAJEGANANCIA] [varchar](15) NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS_X_COMBO]    Script Date: 18/7/2019 20:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS_X_COMBO](
	[IDCOMBO] [int] NOT NULL,
	[IDPRODUCTO] [int] NOT NULL,
	[UNIDADES] [int] NULL,
	[KILOS] [decimal](8, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCOMBO] ASC,
	[IDPRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS_X_COMPRA]    Script Date: 18/7/2019 20:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS_X_COMPRA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDCOMPRA] [int] NOT NULL,
	[IDPRODUCTO] [int] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS_X_VENTA]    Script Date: 18/7/2019 20:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS_X_VENTA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDVENTA] [int] NOT NULL,
	[IDPRODUCTO] [int] NOT NULL,
	[CANTIDAD] [int] NULL,
	[KILOS] [decimal](8, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDORES]    Script Date: 18/7/2019 20:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDORES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APELLIDOS] [varchar](50) NOT NULL,
	[NOMBRES] [varchar](50) NOT NULL,
	[RAZONSOCIAL] [varchar](100) NOT NULL,
	[DNI] [varchar](15) NOT NULL,
	[CUIT] [varchar](20) NOT NULL,
	[IDDOMICILIO] [int] NULL,
	[IDTIPOPERSONA] [int] NOT NULL,
	[FECHNAC] [date] NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDORES_X_PRODUCTO]    Script Date: 18/7/2019 20:52:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDORES_X_PRODUCTO](
	[IDPRODUCTO] [int] NOT NULL,
	[IDPROVEEDOR] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPRODUCTO] ASC,
	[IDPROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONOS]    Script Date: 18/7/2019 20:52:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TELEFONO] [varchar](20) NOT NULL,
	[DESCRIPCION] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONOS_X_CLIENTES]    Script Date: 18/7/2019 20:52:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONOS_X_CLIENTES](
	[IDCLIENTE] [int] NOT NULL,
	[IDTELEFONO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCLIENTE] ASC,
	[IDTELEFONO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONOS_X_EMPLEADOS]    Script Date: 18/7/2019 20:52:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONOS_X_EMPLEADOS](
	[IDEMPLEADO] [int] NOT NULL,
	[IDTELEFONO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEMPLEADO] ASC,
	[IDTELEFONO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONOS_X_PROVEEDORES]    Script Date: 18/7/2019 20:52:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONOS_X_PROVEEDORES](
	[IDPROVEEDOR] [int] NOT NULL,
	[IDTELEFONO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPROVEEDOR] ASC,
	[IDTELEFONO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_EMPLEADO]    Script Date: 18/7/2019 20:52:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_EMPLEADO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_PERSONA]    Script Date: 18/7/2019 20:52:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_PERSONA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 18/7/2019 20:52:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[CONTRASEÑA] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTAS]    Script Date: 18/7/2019 20:52:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDCLIENTE] [int] NOT NULL,
	[IDFACTURA] [int] NOT NULL,
	[IMPORTE] [decimal](8, 2) NOT NULL,
	[ESTADO] [bit] NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORIAS] ON 

INSERT [dbo].[CATEGORIAS] ([ID], [NOMBRE], [ESTADO]) VALUES (1, N'Salames', 0)
INSERT [dbo].[CATEGORIAS] ([ID], [NOMBRE], [ESTADO]) VALUES (2, N'Gaseosas', 1)
INSERT [dbo].[CATEGORIAS] ([ID], [NOMBRE], [ESTADO]) VALUES (3, N'Aperitivos', 1)
SET IDENTITY_INSERT [dbo].[CATEGORIAS] OFF
SET IDENTITY_INSERT [dbo].[CLIENTES] ON 

INSERT [dbo].[CLIENTES] ([ID], [APELLIDOS], [NOMBRES], [RAZONSOCIAL], [DNI], [CUIT], [FECHNAC], [IDDOMICILIO], [IDUSUARIO], [IDTIPOPERSONA], [ESTADO]) VALUES (0, N'Consumidor Final', N'', N'', N'', N'', CAST(N'1990-01-01' AS Date), NULL, NULL, 1, 1)
INSERT [dbo].[CLIENTES] ([ID], [APELLIDOS], [NOMBRES], [RAZONSOCIAL], [DNI], [CUIT], [FECHNAC], [IDDOMICILIO], [IDUSUARIO], [IDTIPOPERSONA], [ESTADO]) VALUES (1, N'Lescano', N'Leandro', N'', N'42420833', N'20-42420833-8', CAST(N'2000-03-19' AS Date), 9, 1, 1, 1)
INSERT [dbo].[CLIENTES] ([ID], [APELLIDOS], [NOMBRES], [RAZONSOCIAL], [DNI], [CUIT], [FECHNAC], [IDDOMICILIO], [IDUSUARIO], [IDTIPOPERSONA], [ESTADO]) VALUES (5, N'Cassano', N'Juan Cruz', N'', N'12346578', N'10-23456789-2', CAST(N'1992-10-10' AS Date), 0, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[CLIENTES] OFF
SET IDENTITY_INSERT [dbo].[COMBOS] ON 

INSERT [dbo].[COMBOS] ([ID], [NOMBRE], [DESCRIPCION], [DIASANTICIPO], [PRECIO], [ESTADO], [RUTA]) VALUES (1, N'Picada para 4', N'Picada para 4 personas con una Coca bien fría y unas papas fritas', 2, CAST(1500.00 AS Decimal(8, 2)), 1, N'C:\Users\Tateh\Desktop\Repos Git\TPC_Lescano\img\picada3b.jpg')
INSERT [dbo].[COMBOS] ([ID], [NOMBRE], [DESCRIPCION], [DIASANTICIPO], [PRECIO], [ESTADO], [RUTA]) VALUES (3, N'Picada para 3', N'Picada para 3 personas con una Manaos de 750ml', 2, CAST(2000.00 AS Decimal(8, 2)), 1, NULL)
INSERT [dbo].[COMBOS] ([ID], [NOMBRE], [DESCRIPCION], [DIASANTICIPO], [PRECIO], [ESTADO], [RUTA]) VALUES (4, N'Picada para 3', N'Picada con ', 2, CAST(500.00 AS Decimal(8, 2)), 0, NULL)
SET IDENTITY_INSERT [dbo].[COMBOS] OFF
SET IDENTITY_INSERT [dbo].[COMERCIOS] ON 

INSERT [dbo].[COMERCIOS] ([ID], [CUIT], [NOMBREJURIDICO], [NOMBREFANTASIA], [INGRESOSBRUTOS], [FECHAINICIO], [IDDOMICILIO]) VALUES (2, N'20-45458796-0', N'Comercio', N'ComercioF', N'1234567-08', CAST(N'2019-01-01T14:29:23.000' AS DateTime), 11)
SET IDENTITY_INSERT [dbo].[COMERCIOS] OFF
SET IDENTITY_INSERT [dbo].[COMPRAS] ON 

INSERT [dbo].[COMPRAS] ([ID], [IDPROVEEDOR], [IMPORTE], [FECHA]) VALUES (1, 6, CAST(130.10 AS Decimal(8, 2)), CAST(N'2019-07-09' AS Date))
INSERT [dbo].[COMPRAS] ([ID], [IDPROVEEDOR], [IMPORTE], [FECHA]) VALUES (2, 2, CAST(6000.00 AS Decimal(8, 2)), CAST(N'2019-07-09' AS Date))
SET IDENTITY_INSERT [dbo].[COMPRAS] OFF
SET IDENTITY_INSERT [dbo].[DOMICILIOS] ON 

INSERT [dbo].[DOMICILIOS] ([ID], [ALTURA], [CALLE], [IDCOORDENADAS], [ENTRECALLE1], [ENTRECALLE2], [IDLOCALIDAD], [PISO], [DEPARTAMENTO]) VALUES (1, 4551, N'Blanco Encalada', NULL, N'', N'', NULL, NULL, NULL)
INSERT [dbo].[DOMICILIOS] ([ID], [ALTURA], [CALLE], [IDCOORDENADAS], [ENTRECALLE1], [ENTRECALLE2], [IDLOCALIDAD], [PISO], [DEPARTAMENTO]) VALUES (7, 2424, N'Santa Rita', NULL, N'', N'', 4, NULL, NULL)
INSERT [dbo].[DOMICILIOS] ([ID], [ALTURA], [CALLE], [IDCOORDENADAS], [ENTRECALLE1], [ENTRECALLE2], [IDLOCALIDAD], [PISO], [DEPARTAMENTO]) VALUES (8, 123, N'Calle falsa', NULL, N'', N'', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DOMICILIOS] OFF
SET IDENTITY_INSERT [dbo].[EMPLEADOS] ON 

INSERT [dbo].[EMPLEADOS] ([ID], [APELLIDOS], [NOMBRES], [DNI], [CUIL], [IDDOMICILIO], [IDUSUARIO], [IDTIPOEMPLEADO], [FECHNAC], [ESTADO]) VALUES (2, N'Lescano', N'Leandro Nicolas', N'42420833', N'20-42420833-8', 22, 4, 1, CAST(N'2000-03-19' AS Date), 1)
INSERT [dbo].[EMPLEADOS] ([ID], [APELLIDOS], [NOMBRES], [DNI], [CUIL], [IDDOMICILIO], [IDUSUARIO], [IDTIPOEMPLEADO], [FECHNAC], [ESTADO]) VALUES (7, N'Pedroso', N'Nicolas', N'36987452', N'', NULL, 5, 2, CAST(N'2019-06-27' AS Date), 1)
SET IDENTITY_INSERT [dbo].[EMPLEADOS] OFF
SET IDENTITY_INSERT [dbo].[FACTURAS] ON 

INSERT [dbo].[FACTURAS] ([ID], [NUMERO], [CUIT], [IDDOMICILIO], [FECHAINICIO], [FECHAACTUAL], [INGRESOSBRUTOS]) VALUES (1, N'0001-00000001', N'20-42420833-8', 9, CAST(N'2019-06-20T17:55:10.963' AS DateTime), CAST(N'2019-06-20T17:55:10.963' AS DateTime), N'1234567-08')
INSERT [dbo].[FACTURAS] ([ID], [NUMERO], [CUIT], [IDDOMICILIO], [FECHAINICIO], [FECHAACTUAL], [INGRESOSBRUTOS]) VALUES (2, N'0001-00000001', N'20-45458796-0', 11, CAST(N'2019-01-01T00:00:00.000' AS DateTime), CAST(N'2019-06-30T14:43:30.280' AS DateTime), N'1234567-08')
INSERT [dbo].[FACTURAS] ([ID], [NUMERO], [CUIT], [IDDOMICILIO], [FECHAINICIO], [FECHAACTUAL], [INGRESOSBRUTOS]) VALUES (3, N'0001-00000001', N'20-45458796-0', 11, CAST(N'2019-01-01T00:00:00.000' AS DateTime), CAST(N'2019-06-30T15:23:03.820' AS DateTime), N'1234567-08')
SET IDENTITY_INSERT [dbo].[FACTURAS] OFF
SET IDENTITY_INSERT [dbo].[LOCALIDADES] ON 

INSERT [dbo].[LOCALIDADES] ([ID], [CODPOSTAL], [NOMBRE], [PARTIDO]) VALUES (4, N'4444', N'Tigre', N'Benavidez')
INSERT [dbo].[LOCALIDADES] ([ID], [CODPOSTAL], [NOMBRE], [PARTIDO]) VALUES (6, N'1644', N'San Fernando', N'Victoria')
INSERT [dbo].[LOCALIDADES] ([ID], [CODPOSTAL], [NOMBRE], [PARTIDO]) VALUES (7, N'1648', N'Tigre', N'Pacheco')
SET IDENTITY_INSERT [dbo].[LOCALIDADES] OFF
SET IDENTITY_INSERT [dbo].[MAILS] ON 

INSERT [dbo].[MAILS] ([ID], [MAIL], [DESCRIPCION]) VALUES (1, N'leandrolescano11@gmail.com', N'Lescano, Leandro')
INSERT [dbo].[MAILS] ([ID], [MAIL], [DESCRIPCION]) VALUES (2, N'tatilescano11@gmail.com', N'Lescano, Leandro')
INSERT [dbo].[MAILS] ([ID], [MAIL], [DESCRIPCION]) VALUES (3, N'aaaa@123.com', N'Lescano, Leandro')
SET IDENTITY_INSERT [dbo].[MAILS] OFF
INSERT [dbo].[MAILS_X_CLIENTES] ([IDCLIENTE], [IDMAIL]) VALUES (1, 13)
INSERT [dbo].[MAILS_X_CLIENTES] ([IDCLIENTE], [IDMAIL]) VALUES (22, 15)
INSERT [dbo].[MAILS_X_CLIENTES] ([IDCLIENTE], [IDMAIL]) VALUES (23, 16)
INSERT [dbo].[MAILS_X_PROVEEDORES] ([IDPROVEEDOR], [IDMAIL]) VALUES (11, 11)
SET IDENTITY_INSERT [dbo].[MARCAS] ON 

INSERT [dbo].[MARCAS] ([ID], [NOMBRE], [ESTADO]) VALUES (1, N'Paladini', 1)
INSERT [dbo].[MARCAS] ([ID], [NOMBRE], [ESTADO]) VALUES (2, N'Cabaña', 1)
INSERT [dbo].[MARCAS] ([ID], [NOMBRE], [ESTADO]) VALUES (3, N'La Serenisima', 1)
SET IDENTITY_INSERT [dbo].[MARCAS] OFF
SET IDENTITY_INSERT [dbo].[PEDIDOS] ON 

INSERT [dbo].[PEDIDOS] ([ID], [IDCLIENTE], [IDCOMBO], [OBSERVACION], [FECHAENTREGA], [PRECIO], [ESTADO], [FECHASOLICITUD]) VALUES (1, 1, 3, N'Observaciones:', CAST(N'2019-06-15' AS Date), CAST(2000.00 AS Decimal(8, 2)), N'A revisar', CAST(N'2019-10-06' AS Date))
INSERT [dbo].[PEDIDOS] ([ID], [IDCLIENTE], [IDCOMBO], [OBSERVACION], [FECHAENTREGA], [PRECIO], [ESTADO], [FECHASOLICITUD]) VALUES (2, 23, 3, N'', CAST(N'2019-06-28' AS Date), CAST(2000.00 AS Decimal(8, 2)), N'Rechazado', CAST(N'2019-10-06' AS Date))
INSERT [dbo].[PEDIDOS] ([ID], [IDCLIENTE], [IDCOMBO], [OBSERVACION], [FECHAENTREGA], [PRECIO], [ESTADO], [FECHASOLICITUD]) VALUES (3, 24, 8, N'', CAST(N'2019-06-22' AS Date), CAST(150.00 AS Decimal(8, 2)), N'A revisar', CAST(N'2019-10-06' AS Date))
SET IDENTITY_INSERT [dbo].[PEDIDOS] OFF
SET IDENTITY_INSERT [dbo].[PRODUCTOS] ON 

INSERT [dbo].[PRODUCTOS] ([ID], [IDCATEGORIA], [NOMBRE], [IDMARCA], [PRECIOUNITARIO], [STOCK], [FRACCIONABLE], [PESO], [PORCENTAJEGANANCIA], [ESTADO]) VALUES (1, 4, N'Queso Regiannito', 3, 20.0000, CAST(294.250 AS Decimal(8, 3)), 1, CAST(1.50 AS Decimal(8, 2)), N'20', 1)
INSERT [dbo].[PRODUCTOS] ([ID], [IDCATEGORIA], [NOMBRE], [IDMARCA], [PRECIOUNITARIO], [STOCK], [FRACCIONABLE], [PESO], [PORCENTAJEGANANCIA], [ESTADO]) VALUES (2, 2, N'Coca-Cola', 4, 30.0000, CAST(198.000 AS Decimal(8, 3)), 0, CAST(0.00 AS Decimal(8, 2)), N'1.5', 1)
INSERT [dbo].[PRODUCTOS] ([ID], [IDCATEGORIA], [NOMBRE], [IDMARCA], [PRECIOUNITARIO], [STOCK], [FRACCIONABLE], [PESO], [PORCENTAJEGANANCIA], [ESTADO]) VALUES (3, 3, N'Papas Fritas Originales', 12, 50.0000, CAST(7.000 AS Decimal(8, 3)), 0, CAST(0.00 AS Decimal(8, 2)), N'0', 1)
SET IDENTITY_INSERT [dbo].[PRODUCTOS] OFF
INSERT [dbo].[PRODUCTOS_X_COMBO] ([IDCOMBO], [IDPRODUCTO], [UNIDADES], [KILOS]) VALUES (1, 1, 1, CAST(0.00 AS Decimal(8, 2)))
INSERT [dbo].[PRODUCTOS_X_COMBO] ([IDCOMBO], [IDPRODUCTO], [UNIDADES], [KILOS]) VALUES (1, 2, 1, CAST(0.00 AS Decimal(8, 2)))
INSERT [dbo].[PRODUCTOS_X_COMBO] ([IDCOMBO], [IDPRODUCTO], [UNIDADES], [KILOS]) VALUES (1, 3, 1, CAST(0.00 AS Decimal(8, 2)))
SET IDENTITY_INSERT [dbo].[PRODUCTOS_X_COMPRA] ON 

INSERT [dbo].[PRODUCTOS_X_COMPRA] ([ID], [IDCOMPRA], [IDPRODUCTO], [CANTIDAD]) VALUES (1, 1, 2, 2)
INSERT [dbo].[PRODUCTOS_X_COMPRA] ([ID], [IDCOMPRA], [IDPRODUCTO], [CANTIDAD]) VALUES (2, 1, 4, 2)
INSERT [dbo].[PRODUCTOS_X_COMPRA] ([ID], [IDCOMPRA], [IDPRODUCTO], [CANTIDAD]) VALUES (3, 1, 9, 2)
SET IDENTITY_INSERT [dbo].[PRODUCTOS_X_COMPRA] OFF
SET IDENTITY_INSERT [dbo].[PRODUCTOS_X_VENTA] ON 

INSERT [dbo].[PRODUCTOS_X_VENTA] ([ID], [IDVENTA], [IDPRODUCTO], [CANTIDAD], [KILOS]) VALUES (1, 1, 2, 3, NULL)
INSERT [dbo].[PRODUCTOS_X_VENTA] ([ID], [IDVENTA], [IDPRODUCTO], [CANTIDAD], [KILOS]) VALUES (2, 1, 1, 2, NULL)
INSERT [dbo].[PRODUCTOS_X_VENTA] ([ID], [IDVENTA], [IDPRODUCTO], [CANTIDAD], [KILOS]) VALUES (3, 1, 3, 5, NULL)
GO
SET IDENTITY_INSERT [dbo].[PRODUCTOS_X_VENTA] OFF
SET IDENTITY_INSERT [dbo].[PROVEEDORES] ON 

INSERT [dbo].[PROVEEDORES] ([ID], [APELLIDOS], [NOMBRES], [RAZONSOCIAL], [DNI], [CUIT], [IDDOMICILIO], [IDTIPOPERSONA], [FECHNAC], [ESTADO]) VALUES (2, N'', N'', N'Coca-Cola', N'', N'132456789', 8, 2, NULL, 1)
INSERT [dbo].[PROVEEDORES] ([ID], [APELLIDOS], [NOMBRES], [RAZONSOCIAL], [DNI], [CUIT], [IDDOMICILIO], [IDTIPOPERSONA], [FECHNAC], [ESTADO]) VALUES (4, N'', N'', N'Jumbalay', N'', N'123456780', NULL, 2, NULL, 1)
INSERT [dbo].[PROVEEDORES] ([ID], [APELLIDOS], [NOMBRES], [RAZONSOCIAL], [DNI], [CUIT], [IDDOMICILIO], [IDTIPOPERSONA], [FECHNAC], [ESTADO]) VALUES (6, N'', N'', N'SanCor', N'', N'123456788', NULL, 2, NULL, 1)
SET IDENTITY_INSERT [dbo].[PROVEEDORES] OFF
INSERT [dbo].[PROVEEDORES_X_PRODUCTO] ([IDPRODUCTO], [IDPROVEEDOR]) VALUES (2, 2)
INSERT [dbo].[PROVEEDORES_X_PRODUCTO] ([IDPRODUCTO], [IDPROVEEDOR]) VALUES (3, 8)
INSERT [dbo].[PROVEEDORES_X_PRODUCTO] ([IDPRODUCTO], [IDPROVEEDOR]) VALUES (4, 4)
SET IDENTITY_INSERT [dbo].[TELEFONOS] ON 

INSERT [dbo].[TELEFONOS] ([ID], [TELEFONO], [DESCRIPCION]) VALUES (2, N'01134527738', N'Particular')
INSERT [dbo].[TELEFONOS] ([ID], [TELEFONO], [DESCRIPCION]) VALUES (3, N'01134527738', N'Particular')
INSERT [dbo].[TELEFONOS] ([ID], [TELEFONO], [DESCRIPCION]) VALUES (4, N'45124567', N'Laboral')
SET IDENTITY_INSERT [dbo].[TELEFONOS] OFF
INSERT [dbo].[TELEFONOS_X_CLIENTES] ([IDCLIENTE], [IDTELEFONO]) VALUES (22, 6)
INSERT [dbo].[TELEFONOS_X_CLIENTES] ([IDCLIENTE], [IDTELEFONO]) VALUES (23, 7)
INSERT [dbo].[TELEFONOS_X_CLIENTES] ([IDCLIENTE], [IDTELEFONO]) VALUES (24, 8)
INSERT [dbo].[TELEFONOS_X_PROVEEDORES] ([IDPROVEEDOR], [IDTELEFONO]) VALUES (11, 5)
SET IDENTITY_INSERT [dbo].[TIPO_EMPLEADO] ON 

INSERT [dbo].[TIPO_EMPLEADO] ([ID], [TIPO]) VALUES (1, N'Administrador')
INSERT [dbo].[TIPO_EMPLEADO] ([ID], [TIPO]) VALUES (2, N'Vendedor')
SET IDENTITY_INSERT [dbo].[TIPO_EMPLEADO] OFF
SET IDENTITY_INSERT [dbo].[TIPO_PERSONA] ON 

INSERT [dbo].[TIPO_PERSONA] ([ID], [TIPO]) VALUES (1, N'Física')
INSERT [dbo].[TIPO_PERSONA] ([ID], [TIPO]) VALUES (2, N'Jurídica')
SET IDENTITY_INSERT [dbo].[TIPO_PERSONA] OFF
SET IDENTITY_INSERT [dbo].[USUARIOS] ON 

INSERT [dbo].[USUARIOS] ([ID], [USUARIO], [CONTRASEÑA]) VALUES (1, N'Llescano', N'1234')
INSERT [dbo].[USUARIOS] ([ID], [USUARIO], [CONTRASEÑA]) VALUES (2, N'NLescano', N'12345')
INSERT [dbo].[USUARIOS] ([ID], [USUARIO], [CONTRASEÑA]) VALUES (3, N'RGreston', N'456')
SET IDENTITY_INSERT [dbo].[USUARIOS] OFF
SET IDENTITY_INSERT [dbo].[VENTAS] ON 

INSERT [dbo].[VENTAS] ([ID], [IDCLIENTE], [IDFACTURA], [IMPORTE], [ESTADO], [DESCRIPCION]) VALUES (1, 1, 1, CAST(388.00 AS Decimal(8, 2)), 1, NULL)
INSERT [dbo].[VENTAS] ([ID], [IDCLIENTE], [IDFACTURA], [IMPORTE], [ESTADO], [DESCRIPCION]) VALUES (2, 0, 2, CAST(174.00 AS Decimal(8, 2)), 1, NULL)
INSERT [dbo].[VENTAS] ([ID], [IDCLIENTE], [IDFACTURA], [IMPORTE], [ESTADO], [DESCRIPCION]) VALUES (3, 0, 3, CAST(150.00 AS Decimal(8, 2)), 1, NULL)
SET IDENTITY_INSERT [dbo].[VENTAS] OFF
ALTER TABLE [dbo].[CATEGORIAS] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[CLIENTES] ADD  DEFAULT ('') FOR [APELLIDOS]
GO
ALTER TABLE [dbo].[CLIENTES] ADD  DEFAULT ('') FOR [NOMBRES]
GO
ALTER TABLE [dbo].[CLIENTES] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[COMPRAS] ADD  DEFAULT (getdate()) FOR [FECHA]
GO
ALTER TABLE [dbo].[DOMICILIOS] ADD  DEFAULT ('-') FOR [ENTRECALLE1]
GO
ALTER TABLE [dbo].[DOMICILIOS] ADD  DEFAULT ('-') FOR [ENTRECALLE2]
GO
ALTER TABLE [dbo].[EMPLEADOS] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[MARCAS] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[PEDIDOS] ADD  DEFAULT ('1/1/1990') FOR [FECHASOLICITUD]
GO
ALTER TABLE [dbo].[PRODUCTOS] ADD  DEFAULT ((0)) FOR [FRACCIONABLE]
GO
ALTER TABLE [dbo].[PRODUCTOS] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[PROVEEDORES] ADD  DEFAULT ('') FOR [APELLIDOS]
GO
ALTER TABLE [dbo].[PROVEEDORES] ADD  DEFAULT ('') FOR [NOMBRES]
GO
ALTER TABLE [dbo].[PROVEEDORES] ADD  DEFAULT ('') FOR [RAZONSOCIAL]
GO
ALTER TABLE [dbo].[PROVEEDORES] ADD  DEFAULT ('1/1/1900') FOR [FECHNAC]
GO
ALTER TABLE [dbo].[PROVEEDORES] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[VENTAS] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH NOCHECK ADD  CONSTRAINT [FK__CLIENTES__IDDOMI__4F7CD00D] FOREIGN KEY([IDDOMICILIO])
REFERENCES [dbo].[DOMICILIOS] ([ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[CLIENTES] NOCHECK CONSTRAINT [FK__CLIENTES__IDDOMI__4F7CD00D]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD FOREIGN KEY([IDTIPOPERSONA])
REFERENCES [dbo].[TIPO_PERSONA] ([ID])
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD FOREIGN KEY([IDTIPOPERSONA])
REFERENCES [dbo].[TIPO_PERSONA] ([ID])
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[COMERCIOS]  WITH CHECK ADD FOREIGN KEY([IDDOMICILIO])
REFERENCES [dbo].[DOMICILIOS] ([ID])
GO
ALTER TABLE [dbo].[COMPRAS]  WITH CHECK ADD FOREIGN KEY([IDPROVEEDOR])
REFERENCES [dbo].[PROVEEDORES] ([ID])
GO
ALTER TABLE [dbo].[FACTURAS]  WITH CHECK ADD FOREIGN KEY([IDDOMICILIO])
REFERENCES [dbo].[DOMICILIOS] ([ID])
GO
ALTER TABLE [dbo].[MAILS_X_CLIENTES]  WITH CHECK ADD FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID])
GO
ALTER TABLE [dbo].[MAILS_X_CLIENTES]  WITH CHECK ADD FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID])
GO
ALTER TABLE [dbo].[MAILS_X_CLIENTES]  WITH CHECK ADD FOREIGN KEY([IDMAIL])
REFERENCES [dbo].[MAILS] ([ID])
GO
ALTER TABLE [dbo].[MAILS_X_CLIENTES]  WITH CHECK ADD FOREIGN KEY([IDMAIL])
REFERENCES [dbo].[MAILS] ([ID])
GO
ALTER TABLE [dbo].[MAILS_X_EMPLEADOS]  WITH CHECK ADD FOREIGN KEY([IDEMPLEADO])
REFERENCES [dbo].[EMPLEADOS] ([ID])
GO
ALTER TABLE [dbo].[MAILS_X_EMPLEADOS]  WITH CHECK ADD FOREIGN KEY([IDEMPLEADO])
REFERENCES [dbo].[EMPLEADOS] ([ID])
GO
ALTER TABLE [dbo].[MAILS_X_EMPLEADOS]  WITH CHECK ADD FOREIGN KEY([IDMAIL])
REFERENCES [dbo].[MAILS] ([ID])
GO
ALTER TABLE [dbo].[MAILS_X_EMPLEADOS]  WITH CHECK ADD FOREIGN KEY([IDMAIL])
REFERENCES [dbo].[MAILS] ([ID])
GO
ALTER TABLE [dbo].[MAILS_X_PROVEEDORES]  WITH CHECK ADD FOREIGN KEY([IDMAIL])
REFERENCES [dbo].[MAILS] ([ID])
GO
ALTER TABLE [dbo].[MAILS_X_PROVEEDORES]  WITH CHECK ADD FOREIGN KEY([IDMAIL])
REFERENCES [dbo].[MAILS] ([ID])
GO
ALTER TABLE [dbo].[MAILS_X_PROVEEDORES]  WITH CHECK ADD FOREIGN KEY([IDPROVEEDOR])
REFERENCES [dbo].[PROVEEDORES] ([ID])
GO
ALTER TABLE [dbo].[MAILS_X_PROVEEDORES]  WITH CHECK ADD FOREIGN KEY([IDPROVEEDOR])
REFERENCES [dbo].[PROVEEDORES] ([ID])
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID])
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID])
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD FOREIGN KEY([IDCOMBO])
REFERENCES [dbo].[COMBOS] ([ID])
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD FOREIGN KEY([IDCOMBO])
REFERENCES [dbo].[COMBOS] ([ID])
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD FOREIGN KEY([IDCATEGORIA])
REFERENCES [dbo].[CATEGORIAS] ([ID])
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD FOREIGN KEY([IDCATEGORIA])
REFERENCES [dbo].[CATEGORIAS] ([ID])
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD FOREIGN KEY([IDMARCA])
REFERENCES [dbo].[MARCAS] ([ID])
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD FOREIGN KEY([IDMARCA])
REFERENCES [dbo].[MARCAS] ([ID])
GO
ALTER TABLE [dbo].[PRODUCTOS_X_COMBO]  WITH CHECK ADD FOREIGN KEY([IDCOMBO])
REFERENCES [dbo].[COMBOS] ([ID])
GO
ALTER TABLE [dbo].[PRODUCTOS_X_COMBO]  WITH CHECK ADD FOREIGN KEY([IDCOMBO])
REFERENCES [dbo].[COMBOS] ([ID])
GO
ALTER TABLE [dbo].[PRODUCTOS_X_COMBO]  WITH CHECK ADD FOREIGN KEY([IDPRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([ID])
GO
ALTER TABLE [dbo].[PRODUCTOS_X_COMBO]  WITH CHECK ADD FOREIGN KEY([IDPRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([ID])
GO
ALTER TABLE [dbo].[PRODUCTOS_X_COMPRA]  WITH CHECK ADD FOREIGN KEY([IDCOMPRA])
REFERENCES [dbo].[COMPRAS] ([ID])
GO
ALTER TABLE [dbo].[PRODUCTOS_X_COMPRA]  WITH CHECK ADD FOREIGN KEY([IDPRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([ID])
GO
ALTER TABLE [dbo].[PRODUCTOS_X_VENTA]  WITH CHECK ADD FOREIGN KEY([IDPRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([ID])
GO
ALTER TABLE [dbo].[PRODUCTOS_X_VENTA]  WITH CHECK ADD FOREIGN KEY([IDVENTA])
REFERENCES [dbo].[VENTAS] ([ID])
GO
ALTER TABLE [dbo].[PROVEEDORES]  WITH NOCHECK ADD  CONSTRAINT [FK__PROVEEDOR__IDDOM__6A30C649] FOREIGN KEY([IDDOMICILIO])
REFERENCES [dbo].[DOMICILIOS] ([ID])
GO
ALTER TABLE [dbo].[PROVEEDORES] CHECK CONSTRAINT [FK__PROVEEDOR__IDDOM__6A30C649]
GO
ALTER TABLE [dbo].[PROVEEDORES]  WITH CHECK ADD  CONSTRAINT [FK__PROVEEDOR__IDTIP__6B24EA82] FOREIGN KEY([IDTIPOPERSONA])
REFERENCES [dbo].[TIPO_PERSONA] ([ID])
GO
ALTER TABLE [dbo].[PROVEEDORES] CHECK CONSTRAINT [FK__PROVEEDOR__IDTIP__6B24EA82]
GO
ALTER TABLE [dbo].[PROVEEDORES_X_PRODUCTO]  WITH CHECK ADD FOREIGN KEY([IDPRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([ID])
GO
ALTER TABLE [dbo].[PROVEEDORES_X_PRODUCTO]  WITH CHECK ADD FOREIGN KEY([IDPRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([ID])
GO
ALTER TABLE [dbo].[TELEFONOS_X_CLIENTES]  WITH CHECK ADD FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID])
GO
ALTER TABLE [dbo].[TELEFONOS_X_CLIENTES]  WITH CHECK ADD FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID])
GO
ALTER TABLE [dbo].[TELEFONOS_X_CLIENTES]  WITH CHECK ADD FOREIGN KEY([IDTELEFONO])
REFERENCES [dbo].[TELEFONOS] ([ID])
GO
ALTER TABLE [dbo].[TELEFONOS_X_CLIENTES]  WITH CHECK ADD FOREIGN KEY([IDTELEFONO])
REFERENCES [dbo].[TELEFONOS] ([ID])
GO
ALTER TABLE [dbo].[TELEFONOS_X_EMPLEADOS]  WITH CHECK ADD FOREIGN KEY([IDEMPLEADO])
REFERENCES [dbo].[EMPLEADOS] ([ID])
GO
ALTER TABLE [dbo].[TELEFONOS_X_EMPLEADOS]  WITH CHECK ADD FOREIGN KEY([IDEMPLEADO])
REFERENCES [dbo].[EMPLEADOS] ([ID])
GO
ALTER TABLE [dbo].[TELEFONOS_X_EMPLEADOS]  WITH CHECK ADD FOREIGN KEY([IDTELEFONO])
REFERENCES [dbo].[TELEFONOS] ([ID])
GO
ALTER TABLE [dbo].[TELEFONOS_X_EMPLEADOS]  WITH CHECK ADD FOREIGN KEY([IDTELEFONO])
REFERENCES [dbo].[TELEFONOS] ([ID])
GO
ALTER TABLE [dbo].[TELEFONOS_X_PROVEEDORES]  WITH NOCHECK ADD FOREIGN KEY([IDTELEFONO])
REFERENCES [dbo].[TELEFONOS] ([ID])
GO
ALTER TABLE [dbo].[TELEFONOS_X_PROVEEDORES]  WITH NOCHECK ADD FOREIGN KEY([IDTELEFONO])
REFERENCES [dbo].[TELEFONOS] ([ID])
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID])
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD FOREIGN KEY([IDFACTURA])
REFERENCES [dbo].[FACTURAS] ([ID])
GO
ALTER TABLE [dbo].[COMBOS]  WITH CHECK ADD  CONSTRAINT [CK_PRECIO] CHECK  (([PRECIO]>(0)))
GO
ALTER TABLE [dbo].[COMBOS] CHECK CONSTRAINT [CK_PRECIO]
GO
/****** Object:  Trigger [dbo].[tr_eliminarCategoria]    Script Date: 18/7/2019 20:52:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_eliminarCategoria] on [dbo].[CATEGORIAS]
instead of delete
as
begin
	Declare @IDCat int
	Declare @Estado bit
	select @IDCat = ID, @Estado = Estado from deleted
	if @Estado = 1 begin
	Update Categorias set Estado=0 where ID = @IDCat
	end
	else begin
		Delete from CATEGORIAS where ID = @IDCat
	end
end
GO
ALTER TABLE [dbo].[CATEGORIAS] ENABLE TRIGGER [tr_eliminarCategoria]
GO
/****** Object:  Trigger [dbo].[tr_eliminarCliente]    Script Date: 18/7/2019 20:52:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_eliminarCliente] on [dbo].[CLIENTES]
instead of delete
as
begin
	Declare @IDCli int
	Declare @Estado bit
	select @IDCli = ID, @Estado = Estado from deleted
	if @Estado = 1 begin
		Update Clientes set Estado=0 where ID = @IDCli
	end
	else begin
		Delete from CLIENTES where ID = @IDCli
	end
end
GO
ALTER TABLE [dbo].[CLIENTES] ENABLE TRIGGER [tr_eliminarCliente]
GO
/****** Object:  Trigger [dbo].[tr_eliminarCombo]    Script Date: 18/7/2019 20:52:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_eliminarCombo] on [dbo].[COMBOS]
instead of delete
as
begin
	Declare @IDComb int, @Estado bit
	Select @IDComb = ID, @Estado = Estado from deleted
	if @Estado = 1 begin
		UPDATE COMBOS SET ESTADO = 0 WHERE ID = @IDComb
	end
	else begin
		DELETE FROM COMBOS WHERE ID = @IDComb
	end
end
GO
ALTER TABLE [dbo].[COMBOS] ENABLE TRIGGER [tr_eliminarCombo]
GO
/****** Object:  Trigger [dbo].[tr_eliminarEmpleado]    Script Date: 18/7/2019 20:52:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_eliminarEmpleado] on [dbo].[EMPLEADOS]
instead of delete
as
begin
	Declare @IDEmp int
	Declare @Estado bit
	select @IDEmp = ID, @Estado = Estado from deleted
	if @Estado = 1 begin
		Update Empleados set Estado=0 where ID = @IDEmp
	end
	else begin
		Delete from Empleados where ID = @IDEmp
	end
end
GO
ALTER TABLE [dbo].[EMPLEADOS] ENABLE TRIGGER [tr_eliminarEmpleado]
GO
/****** Object:  Trigger [dbo].[tr_eliminarMarca]    Script Date: 18/7/2019 20:52:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_eliminarMarca] on [dbo].[MARCAS]
instead of delete
as
begin
	Declare @IDMar int
	Declare @Estado bit
	select @IDMar = ID, @Estado = Estado from deleted
	if @Estado = 1 begin
		Update Marcas set Estado=0 where ID = @IDMar
	end
	else begin
		Delete from MARCAS where ID = @IDMar
	end
end
GO
ALTER TABLE [dbo].[MARCAS] ENABLE TRIGGER [tr_eliminarMarca]
GO
/****** Object:  Trigger [dbo].[tr_eliminarProducto]    Script Date: 18/7/2019 20:52:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_eliminarProducto] on [dbo].[PRODUCTOS]
instead of delete
as
begin
	Declare @IDProd int
	Declare @Estado bit
	select @IDProd = ID, @Estado = Estado from deleted
	if @Estado = 1 begin
		Update Productos set Estado=0 where ID = @IDProd
	end
	else begin
		Delete from PRODUCTOS where ID = @IDProd
	end
end
GO
ALTER TABLE [dbo].[PRODUCTOS] ENABLE TRIGGER [tr_eliminarProducto]
GO
/****** Object:  Trigger [dbo].[tr_eliminarProveedor]    Script Date: 18/7/2019 20:52:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_eliminarProveedor] on [dbo].[PROVEEDORES]
instead of delete
as
begin
	Declare @IDProv int
	Declare @Estado bit
	select @IDProv = ID, @Estado = Estado from deleted
	IF @Estado = 1 begin
		Update Proveedores set Estado=0 where ID = @IDProv
	end
	else begin
		delete from Proveedores where ID = @IDProv
	end
end
GO
ALTER TABLE [dbo].[PROVEEDORES] ENABLE TRIGGER [tr_eliminarProveedor]
GO
USE [master]
GO
