USE [master]
GO
CREATE DATABASE [LESCANO_DB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LESCANO_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LESCANO_DB]
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 10/6/2019 16:56:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 10/6/2019 16:56:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APELLIDOS] [varchar](50) NOT NULL,
	[NOMBRES] [varchar](50) NOT NULL,
	[RAZONSOCIAL] [varchar](100) NOT NULL,
	[DNI] [varchar](15) NOT NULL,
	[CUIT] [varchar](20) NOT NULL,
	[FECHNAC] [date] NULL,
	[IDDOMICILIO] [int] NULL,
	[IDUSUARIO] [int] NULL,
	[IDTIPOPERSONA] [int] NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMBOS]    Script Date: 10/6/2019 16:56:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMBOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](300) NULL,
	[DIASANTICIPO] [int] NOT NULL,
	[PRECIO] [decimal](8, 2) NULL,
	[ESTADO] [bit] NOT NULL,
	[RUTA] [varchar](100) NULL,
 CONSTRAINT [PK_Prod] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOMICILIOS]    Script Date: 10/6/2019 16:56:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOMICILIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ALTURA] [int] NOT NULL,
	[CALLE] [varchar](100) NOT NULL,
	[IDCOORDENADAS] [int] NULL,
	[ENTRECALLE1] [varchar](100) NULL,
	[ENTRECALLE2] [varchar](100) NULL,
	[IDLOCALIDAD] [int] NULL,
	[PISO] [int] NULL,
	[DEPARTAMENTO] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 10/6/2019 16:56:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APELLIDOS] [varchar](50) NOT NULL,
	[NOMBRES] [varchar](50) NOT NULL,
	[DNI] [varchar](15) NOT NULL,
	[CUIL] [varchar](20) NOT NULL,
	[IDDOMICILIO] [int] NULL,
	[IDUSUARIO] [int] NULL,
	[IDTIPOEMPLEADO] [int] NOT NULL,
	[FECHNAC] [date] NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOCALIDADES]    Script Date: 10/6/2019 16:56:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCALIDADES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODPOSTAL] [varchar](10) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[PARTIDO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LOC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[CODPOSTAL] ASC,
	[NOMBRE] ASC,
	[PARTIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAILS]    Script Date: 10/6/2019 16:56:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAIL] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAILS_X_CLIENTES]    Script Date: 10/6/2019 16:56:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAILS_X_CLIENTES](
	[IDCLIENTE] [int] NOT NULL,
	[IDMAIL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCLIENTE] ASC,
	[IDMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAILS_X_EMPLEADOS]    Script Date: 10/6/2019 16:56:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAILS_X_EMPLEADOS](
	[IDEMPLEADO] [int] NOT NULL,
	[IDMAIL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEMPLEADO] ASC,
	[IDMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAILS_X_PROVEEDORES]    Script Date: 10/6/2019 16:56:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAILS_X_PROVEEDORES](
	[IDPROVEEDOR] [int] NOT NULL,
	[IDMAIL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPROVEEDOR] ASC,
	[IDMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCAS]    Script Date: 10/6/2019 16:56:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDOS]    Script Date: 10/6/2019 16:56:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDCLIENTE] [int] NOT NULL,
	[IDCOMBO] [int] NOT NULL,
	[OBSERVACION] [varchar](100) NOT NULL,
	[FECHAENTREGA] [date] NOT NULL,
	[PRECIO] [decimal](8, 2) NOT NULL,
	[ESTADO] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 10/6/2019 16:56:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDCATEGORIA] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[IDMARCA] [int] NOT NULL,
	[PRECIOUNITARIO] [money] NOT NULL,
	[STOCK] [int] NOT NULL,
	[FRACCIONABLE] [bit] NOT NULL,
	[PESO] [varchar](15) NOT NULL,
	[PORCENTAJEGANANCIA] [varchar](15) NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS_X_COMBO]    Script Date: 10/6/2019 16:56:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS_X_COMBO](
	[IDCOMBO] [int] NOT NULL,
	[IDPRODUCTO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCOMBO] ASC,
	[IDPRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDORES]    Script Date: 10/6/2019 16:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDORES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APELLIDOS] [varchar](50) NOT NULL,
	[NOMBRES] [varchar](50) NOT NULL,
	[RAZONSOCIAL] [varchar](100) NOT NULL,
	[DNI] [varchar](15) NOT NULL,
	[CUIT] [varchar](20) NOT NULL,
	[IDDOMICILIO] [int] NULL,
	[IDTIPOPERSONA] [int] NOT NULL,
	[FECHNAC] [date] NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDORES_X_PRODUCTO]    Script Date: 10/6/2019 16:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDORES_X_PRODUCTO](
	[IDPRODUCTO] [int] NOT NULL,
	[IDPROVEEDOR] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPRODUCTO] ASC,
	[IDPROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONOS]    Script Date: 10/6/2019 16:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TELEFONO] [varchar](20) NOT NULL,
	[DESCRIPCION] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONOS_X_CLIENTES]    Script Date: 10/6/2019 16:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONOS_X_CLIENTES](
	[IDCLIENTE] [int] NOT NULL,
	[IDTELEFONO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCLIENTE] ASC,
	[IDTELEFONO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONOS_X_EMPLEADOS]    Script Date: 10/6/2019 16:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONOS_X_EMPLEADOS](
	[IDEMPLEADO] [int] NOT NULL,
	[IDTELEFONO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEMPLEADO] ASC,
	[IDTELEFONO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONOS_X_PROVEEDORES]    Script Date: 10/6/2019 16:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONOS_X_PROVEEDORES](
	[IDPROVEEDOR] [int] NOT NULL,
	[IDTELEFONO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPROVEEDOR] ASC,
	[IDTELEFONO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_EMPLEADO]    Script Date: 10/6/2019 16:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_EMPLEADO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_PERSONA]    Script Date: 10/6/2019 16:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_PERSONA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 10/6/2019 16:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[CONTRASEÑA] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CATEGORIAS] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[CLIENTES] ADD  DEFAULT ('') FOR [APELLIDOS]
GO
ALTER TABLE [dbo].[CLIENTES] ADD  DEFAULT ('') FOR [NOMBRES]
GO
ALTER TABLE [dbo].[CLIENTES] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[DOMICILIOS] ADD  DEFAULT ('-') FOR [ENTRECALLE1]
GO
ALTER TABLE [dbo].[DOMICILIOS] ADD  DEFAULT ('-') FOR [ENTRECALLE2]
GO
ALTER TABLE [dbo].[EMPLEADOS] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[MARCAS] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[PRODUCTOS] ADD  DEFAULT ((0)) FOR [STOCK]
GO
ALTER TABLE [dbo].[PRODUCTOS] ADD  DEFAULT ((0)) FOR [FRACCIONABLE]
GO
ALTER TABLE [dbo].[PRODUCTOS] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[PROVEEDORES] ADD  DEFAULT ('') FOR [APELLIDOS]
GO
ALTER TABLE [dbo].[PROVEEDORES] ADD  DEFAULT ('') FOR [NOMBRES]
GO
ALTER TABLE [dbo].[PROVEEDORES] ADD  DEFAULT ('') FOR [RAZONSOCIAL]
GO
ALTER TABLE [dbo].[PROVEEDORES] ADD  DEFAULT ('1/1/1900') FOR [FECHNAC]
GO
ALTER TABLE [dbo].[PROVEEDORES] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH NOCHECK ADD  CONSTRAINT [FK__CLIENTES__IDDOMI__4F7CD00D] FOREIGN KEY([IDDOMICILIO])
REFERENCES [dbo].[DOMICILIOS] ([ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[CLIENTES] NOCHECK CONSTRAINT [FK__CLIENTES__IDDOMI__4F7CD00D]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD FOREIGN KEY([IDTIPOPERSONA])
REFERENCES [dbo].[TIPO_PERSONA] ([ID])
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[MAILS_X_CLIENTES]  WITH CHECK ADD FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID])
GO
ALTER TABLE [dbo].[MAILS_X_CLIENTES]  WITH CHECK ADD FOREIGN KEY([IDMAIL])
REFERENCES [dbo].[MAILS] ([ID])
GO
ALTER TABLE [dbo].[MAILS_X_EMPLEADOS]  WITH CHECK ADD FOREIGN KEY([IDEMPLEADO])
REFERENCES [dbo].[EMPLEADOS] ([ID])
GO
ALTER TABLE [dbo].[MAILS_X_EMPLEADOS]  WITH CHECK ADD FOREIGN KEY([IDMAIL])
REFERENCES [dbo].[MAILS] ([ID])
GO
ALTER TABLE [dbo].[MAILS_X_PROVEEDORES]  WITH CHECK ADD FOREIGN KEY([IDMAIL])
REFERENCES [dbo].[MAILS] ([ID])
GO
ALTER TABLE [dbo].[MAILS_X_PROVEEDORES]  WITH CHECK ADD FOREIGN KEY([IDPROVEEDOR])
REFERENCES [dbo].[PROVEEDORES] ([ID])
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID])
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD FOREIGN KEY([IDCOMBO])
REFERENCES [dbo].[COMBOS] ([ID])
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD FOREIGN KEY([IDCATEGORIA])
REFERENCES [dbo].[CATEGORIAS] ([ID])
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD FOREIGN KEY([IDMARCA])
REFERENCES [dbo].[MARCAS] ([ID])
GO
ALTER TABLE [dbo].[PRODUCTOS_X_COMBO]  WITH CHECK ADD FOREIGN KEY([IDCOMBO])
REFERENCES [dbo].[COMBOS] ([ID])
GO
ALTER TABLE [dbo].[PRODUCTOS_X_COMBO]  WITH CHECK ADD FOREIGN KEY([IDPRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([ID])
GO
ALTER TABLE [dbo].[PROVEEDORES]  WITH NOCHECK ADD  CONSTRAINT [FK__PROVEEDOR__IDDOM__6A30C649] FOREIGN KEY([IDDOMICILIO])
REFERENCES [dbo].[DOMICILIOS] ([ID])
GO
ALTER TABLE [dbo].[PROVEEDORES] CHECK CONSTRAINT [FK__PROVEEDOR__IDDOM__6A30C649]
GO
ALTER TABLE [dbo].[PROVEEDORES]  WITH CHECK ADD  CONSTRAINT [FK__PROVEEDOR__IDTIP__6B24EA82] FOREIGN KEY([IDTIPOPERSONA])
REFERENCES [dbo].[TIPO_PERSONA] ([ID])
GO
ALTER TABLE [dbo].[PROVEEDORES] CHECK CONSTRAINT [FK__PROVEEDOR__IDTIP__6B24EA82]
GO
ALTER TABLE [dbo].[PROVEEDORES_X_PRODUCTO]  WITH CHECK ADD FOREIGN KEY([IDPRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([ID])
GO
ALTER TABLE [dbo].[TELEFONOS_X_CLIENTES]  WITH CHECK ADD FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID])
GO
ALTER TABLE [dbo].[TELEFONOS_X_CLIENTES]  WITH CHECK ADD FOREIGN KEY([IDTELEFONO])
REFERENCES [dbo].[TELEFONOS] ([ID])
GO
ALTER TABLE [dbo].[TELEFONOS_X_EMPLEADOS]  WITH CHECK ADD FOREIGN KEY([IDEMPLEADO])
REFERENCES [dbo].[EMPLEADOS] ([ID])
GO
ALTER TABLE [dbo].[TELEFONOS_X_EMPLEADOS]  WITH CHECK ADD FOREIGN KEY([IDTELEFONO])
REFERENCES [dbo].[TELEFONOS] ([ID])
GO
ALTER TABLE [dbo].[TELEFONOS_X_PROVEEDORES]  WITH NOCHECK ADD FOREIGN KEY([IDTELEFONO])
REFERENCES [dbo].[TELEFONOS] ([ID])
GO
ALTER TABLE [dbo].[COMBOS]  WITH CHECK ADD  CONSTRAINT [CK_PRECIO] CHECK  (([PRECIO]>(0)))
GO
ALTER TABLE [dbo].[COMBOS] CHECK CONSTRAINT [CK_PRECIO]
GO
/****** Object:  Trigger [dbo].[tr_eliminarCategoria]    Script Date: 10/6/2019 16:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_eliminarCategoria] on [dbo].[CATEGORIAS]
instead of delete
as
begin
	Declare @IDCat int
	Declare @Estado bit
	select @IDCat = ID, @Estado = Estado from deleted
	if @Estado = 1 begin
	Update Categorias set Estado=0 where ID = @IDCat
	end
	else begin
		Delete from CATEGORIAS where ID = @IDCat
	end
end
GO
ALTER TABLE [dbo].[CATEGORIAS] ENABLE TRIGGER [tr_eliminarCategoria]
GO
/****** Object:  Trigger [dbo].[tr_eliminarCliente]    Script Date: 10/6/2019 16:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_eliminarCliente] on [dbo].[CLIENTES]
instead of delete
as
begin
	Declare @IDCli int
	Declare @Estado bit
	select @IDCli = ID, @Estado = Estado from deleted
	if @Estado = 1 begin
		Update Clientes set Estado=0 where ID = @IDCli
	end
	else begin
		Delete from CLIENTES where ID = @IDCli
	end
end
GO
ALTER TABLE [dbo].[CLIENTES] ENABLE TRIGGER [tr_eliminarCliente]
GO
/****** Object:  Trigger [dbo].[tr_eliminarCombo]    Script Date: 10/6/2019 16:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_eliminarCombo] on [dbo].[COMBOS]
instead of delete
as
begin
	Declare @IDComb int, @Estado bit
	Select @IDComb = ID, @Estado = Estado from deleted
	if @Estado = 1 begin
		UPDATE COMBOS SET ESTADO = 0 WHERE ID = @IDComb
	end
	else begin
		DELETE FROM COMBOS WHERE ID = @IDComb
	end
end
GO
ALTER TABLE [dbo].[COMBOS] ENABLE TRIGGER [tr_eliminarCombo]
GO
/****** Object:  Trigger [dbo].[tr_eliminarEmpleado]    Script Date: 10/6/2019 16:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_eliminarEmpleado] on [dbo].[EMPLEADOS]
instead of delete
as
begin
	Declare @IDEmp int
	Declare @Estado bit
	select @IDEmp = ID, @Estado = Estado from deleted
	if @Estado = 1 begin
		Update Empleados set Estado=0 where ID = @IDEmp
	end
	else begin
		Delete from Empleados where ID = @IDEmp
	end
end
GO
ALTER TABLE [dbo].[EMPLEADOS] ENABLE TRIGGER [tr_eliminarEmpleado]
GO
/****** Object:  Trigger [dbo].[tr_eliminarMarca]    Script Date: 10/6/2019 16:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_eliminarMarca] on [dbo].[MARCAS]
instead of delete
as
begin
	Declare @IDMar int
	Declare @Estado bit
	select @IDMar = ID, @Estado = Estado from deleted
	if @Estado = 1 begin
		Update Marcas set Estado=0 where ID = @IDMar
	end
	else begin
		Delete from MARCAS where ID = @IDMar
	end
end
GO
ALTER TABLE [dbo].[MARCAS] ENABLE TRIGGER [tr_eliminarMarca]
GO
/****** Object:  Trigger [dbo].[tr_eliminarProducto]    Script Date: 10/6/2019 16:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_eliminarProducto] on [dbo].[PRODUCTOS]
instead of delete
as
begin
	Declare @IDProd int
	Declare @Estado bit
	select @IDProd = ID, @Estado = Estado from deleted
	if @Estado = 1 begin
		Update Productos set Estado=0 where ID = @IDProd
	end
	else begin
		Delete from PRODUCTOS where ID = @IDProd
	end
end
GO
ALTER TABLE [dbo].[PRODUCTOS] ENABLE TRIGGER [tr_eliminarProducto]
GO
/****** Object:  Trigger [dbo].[tr_eliminarProveedor]    Script Date: 10/6/2019 16:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_eliminarProveedor] on [dbo].[PROVEEDORES]
instead of delete
as
begin
	Declare @IDProv int
	Declare @Estado bit
	select @IDProv = ID, @Estado = Estado from deleted
	IF @Estado = 1 begin
		Update Proveedores set Estado=0 where ID = @IDProv
	end
	else begin
		delete from Proveedores where ID = @IDProv
	end
end
GO
ALTER TABLE [dbo].[PROVEEDORES] ENABLE TRIGGER [tr_eliminarProveedor]
GO
USE [master]
GO
