body {
    background-color: rgb(244, 174, 0);
    height: 100%;
}

.navbar-dark {
    background-color: rgb(122, 22, 0);
}

.body-content {
    -webkit-box-shadow: 0 0 44px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 44px -10px rgba(0,0,0,0.75);
    box-shadow: 0 0 44px -10px rgba(0,0,0,0.75);
    overflow: hidden;
}

#TextoError {
    color: white;
    padding-right: 35em;
    margin-bottom: 0;
    transition-property: color;
    transition-duration: 0.5s;
}

#MainContent_btnPedido {
    background-color: rgb(122, 22, 0);
    color: white;
}

    #MainContent_btnPedido:hover {
        background-color: rgb(99, 19, 1);
        color:white;
    }

#btnIngresar {
    background-color: rgb(244, 174, 0);
    color: rgb(122, 22, 0);
    font-weight: 500;
}

    #btnIngresar:hover {
        background-color: rgb(204, 145, 0);
    }

#lblNombreCliente {
    float: left;
    color: white;
    padding: 10px;
    margin: 0px;
}

#MainContent_lblPrecio {
    font-size: 30px;
}

#MainContent_lblDias {
    font-size: 20px;
}

#MainContent_lblObservacion {
    font-size: 20px;
}

.carousel-inner {
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgba(0,0,0,0.2);
}

/*INPUT: NUMBER*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.tdObservacion {
    white-space: nowrap;
    max-width: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toast {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.thID {
    max-width: 10px;
}

.thFecha {
    max-width: 155px;
}

th, td {
    text-align: center;
}

#sinCliente {
    text-align: center;
}

h2 a {
    color: black;
}

h2 a:hover{
    color:black;
}

#Bienvenido {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

#duplicado {
    font-size: 14px;
    margin-top: -6px;
    color: black;
}

#usuarioDuplicado {
    font-size: 14px;
    margin-top: -6px;
    color: black;
}

/*DATEPICKER
#dtpFechaEntrega {
    display: inline-block;
    margin: .5em .5em;
    vertical-align: middle;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}


input[type="date"]::-webkit-inner-spin-button {
    display: none;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border: 1px solid #ecf0f1;
    background: #721c24;
    border-radius: 5px;
    padding: 5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #ffc107;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
} */


/* MODAL */
.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
}

.md-show {
    visibility: visible;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(143,27,15,0.8);
    transition: all 0.3s;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}
